.flights {
  margin-top: 20px;
  &__links {
    display: flex;
    width: 1120px;
    height: 59px;
    background: #73d2f0;
    border-radius: 50px 50px 0 0;
  }
  &__links-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: #73d2f0;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    font-weight: 700;
    border-radius: 50px 50px 0 0;
  }
  &__link-active {
    background-color: #fff;
    color: #73d2f0;
  }
}
.dates {
  display: flex;
  height: 60px;
  background: white;
  padding: 10px;

  &__choise {
    margin-right: 40px;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &::-webkit-datetime-edit {
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      width: 40px;
      height: 40px;
      cursor: pointer;
      &:hover {
        background-color: #1eb7ee;
      }
    }
  }
  &__day {
    padding: 0 15px;
    text-align: center;
    color: #b8b9b9;
    border-bottom: 3px solid #b8b9b9;
    font-weight: 700;
    cursor: pointer;
    &__active {
      color: #1eb7ee;
      border-color: #1eb7ee;
    }
  }
  &__day-number {
    font-size: 14px;
    font-weight: normal;
  }
}
.table {
  width: 1120px;
  height: 38px;
  background: #fff;
  color: #9ea0a2;
  &__raw {
    width: 100%;
    height: 60px;
    &:hover {
      z-index: 1;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
  }
  &__item {
    font-weight: 400;
    color: #212529;
    text-align: center;
  }
  &__item-logo {
    width: 80px;
    height: 40px;
    margin-right: 5px;
  }
  &__item-airline-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-weight: 400;
    color: #212529;
  }
}
.info {
  &__item {
    font-weight: 400;
  }
}
