.links {
  display: flex;
  width: 1120px;
  height: 59px;
  background: #73d2f0;
  border-radius: 50px 50px 0 0;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: #73d2f0;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    font-weight: 700;
    border-radius: 50px 50px 0 0;
  }
  &__item-active {
    background-color: #fff;
    color: #73d2f0;
  }
}
