@import './components/SearchPage/searchPage.scss';
@import './components/FlightsPage/flightsPage.scss';
@import './components/FlightsPage/FlightsLinks/flightsLinks.scss';
@import './components/FlightsPage/FlightsDates/flightsDates.scss';
@import './components/FlightsPage/FlightsTable/fligtsTable.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #2f2f2f;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7efec;
  height: 100vh;
}
